* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: lightgray;
  color: white;
  gap: 15px;
}
.box {
  width: 400px;
  height: 50vh;
  max-height: max-content;
  border: 4px solid white;
  padding: 20px;
  background-color: lightblue;
}

.count {
  padding-top: 70px;
  padding-left: 20px;
}
